@charset "utf-8";
@import "D:/tobe/tobe/base";
//注释掉font-face
//$fontClassoutput: glass music search times weibo;
//@import "D:/tobe/tobe/ext/font-face/font-face";
//@import "D:/tobe/tobe/ext/font-face/variables";

//调用自己自定义的minxin函数
 @import "D:/tobe/tobe/custom/_zqmixin";


/* CSS Document */
html{ overflow-x:hidden;}/*去除包括IE7横向滚动条*/
body{margin:0px; padding:0px; font-size:1.2em;font-size:62.5%; overflow-x:hidden;/* background:url(../images/bj.png) repeat-x;*/ color:#444; -webkit-text-size-adjust: none; font-family:"Microsoft Yahei";}
ul,ol,li{margin:0px; padding:0px; list-style:none; vertical-align:top; }
img{ border:none;}
div,span,dd,dl,dt,p,img,h1,h2,h3,h4,h5,h6{margin:0px; padding:0px; border:0px;/*font-weight:normal;*/font-style:normal; font-size:12px;color:#808080;}
input,textarea{ padding:0px; margin:0px; outline: medium none; font-family:"Microsoft Yahei";}
a{ color:#444;  text-decoration: none;}
a:hover{ color:#333; text-decoration:underline; }
.clear{	clear:both;	} 
em{ font-weight:normal;font-style:normal;}
nav,section,footer{display: block;}
// /*********
// 可能会用到的样式
// filter:alpha(opacity=50);opacity:0.5;
// width:0px;height:0px;border-width:10px 7px 0 7px; border-color: #ccc transparent transparent transparent; 
// box-shadow:2px -1px 6px #eaeaea;behavior: url(PIE_uncompressed.htc);border-radius: 3px;
// */
//@include clearfix;
//@extend %pagebtn;
 // background:none;border: none;
 // @include ellipsis(500px);
 // @include prefixer(transition,all 0.8s ease); 添加过渡各浏览器前缀

// @include pos-center(1920px,0);


/*-------------------------------------css--------------------------------------------*/
$yahei:"Microsoft Yahei";
$SongTi:'宋体';
$HeiTi:'黑体';

$headTopColor: #767676;//头部文字颜色
$navColor:#333333;


/*index css*/
$wrapWidth:100px;                       //wrap宽度
$halfwrapWidth:$wrapWidth/2;                   //wrap宽度的一半
$wrapConWidth:1920px;                       //wrap宽度

.wrap{width:$wrapWidth;margin:0 auto;}
.wrap_con{@include pos-center(1920px);}
//弹出层部分
.pop_up_box {width: 100%;height: 100%;background:url(../images/mask.png) ; z-index: 98;position: absolute; top: 0px;left: 0px; }
.pop_up_con{background:#fff;@include fixed-center(340px,33%);}
.close { cursor: pointer; position: absolute; right: 0px; top: 0px; z-index: 2;}

.pop_up_title{font-size: 20px;color: #333333;height: 47px;line-height: 47px;border-bottom: 1px solid #dcdcdc;text-indent: 21px;font-family: $yahei;font-weight: 200;background: #e7e7e7;}
.pop_content{font-size: 16px;color: #333333;padding: 0 20px;line-height: 2;margin-top: 20px; span{font-size: 16px;color: #333333;}}




$mainWidth:1200px;
.main{width:1200px; position:relative; margin:0 auto;z-index: 1;}
.w1200{width:1200px; position:relative; margin:0 auto;z-index: 1;}

.pic01{width: 1920px;height: 579px;overflow: hidden;position:relative; margin:0 auto;background-color: #2d65b7;}
.pic02{width: 1920px;height: 496px;background: url(../images/pic02.jpg);overflow: hidden;position:relative; margin:0 auto;}
.pic03{width: 1920px;height: 493px;background: url(../images/pic03.jpg);overflow: hidden;position:relative; margin:0 auto;}
.pic04{width: 1920px;height: 494px;background: url(../images/pic04.jpg);overflow: hidden;position:relative; margin:0 auto;}
.pic05{width: 1920px;height: 494px;background: url(../images/pic05.jpg);overflow: hidden;position:relative; margin:0 auto;}
.pic06{width: 1920px;height: 374px;background: url(../images/pic06.jpg);overflow: hidden;position:relative; margin:0 auto;}


.w1200{
   & .desc{font-size: 20px;color: #5dabdc;line-height: 1.5;font-family: $yahei; //font-family: $HeiTi;
		
   	}
   	& .Title{font-size: 26px;color: #5dabdc;line-height: 1.5;font-family: $yahei; }
}

.logo{@include position(-18px,0px);}
.pos{@include position(0px,0px);}
.logo_pic2{@include position(126px,149px);}

.uploadBtn01{@include position(120px,370px);width: 195px;height: 44px;background: url(../images/uploadBtn01.png);@include prefixer(transition,all 0.4s ease);border-radius: 6px;
	&:hover{background: url(../images/uploadBtn01_hover.png);background-color: #FFF;}
	&.hover{background: url(../images/uploadBtn01_hover.png);background-color: #FFF;}
}
.uploadBtn02{@include position(120px,435px);width: 195px;height: 44px;background: url(../images/uploadBtn02.png);@include prefixer(transition,all 0.6s ease);border-radius: 6px;
	&:hover{background: url(../images/uploadBtn02_hover.png);background-color: #FFF;}
	&.hover{background: url(../images/uploadBtn02_hover.png);background-color: #FFF;}
}

.tel{position: absolute;right:0px;top:40px; width: 270px;height: 16px;line-height: 16px;font-size: 16px;text-align: right;color: #FFF !important;}


.pic02_text{@include position(739px,144px); width: 464px;}
.pic03_text{@include position(0px,184px); width: 572px;}
.pic04_text{@include position(739px,174px); width: 582px;}
.pic05_text{@include position(0px,164px); width: 498px;}

.btn_box{height: 217px;
	p{font-size: 27px;color: #FFF;text-align: center;height: 116px;line-height: 116px;}
	a{font-size: 27px;color: #2869b9;text-align: center;height: 46px;line-height: 46px;width: 184px;background-color: #fff;border-radius: 5px;display:block;margin:0 auto;}

}

.contact_box{height: 117px;
	
}
.contact_list{width: 324px;float: left;
	p{font-size: 14px;color: #FFF;line-height: 1.8;
		a{font-size: 12px;color: #FFF;line-height: 1.5;padding-left: 23px;
			&.weibo{display: inline-block;width: 25px;height: 25px;background:url(../images/weibo.png);vertical-align: middle;padding-left: 0px;margin-right: 5px;@include prefixer(transition,all 0.3s ease);
				&:hover{background:url(../images/weibo_hover.png);}
			}
			&.QQ{display: inline-block;width: 25px;height: 25px;background:url(../images/qq.png);vertical-align: middle;padding-left: 0px;@include prefixer(transition,all 0.3s ease);
				&:hover{background:url(../images/qq_hover.png);}
				
			}
		}
	}
	&.list01{margin-top: 100px;}
	&.list02{width: 605px;}
	&.list03{width: 254px;}
}

// 可能会用到的样式
// filter:alpha(opacity=50);opacity:0.5;
// width:0px;height:0px;border-width:20px 10px 0 10px ; border-style:solid;border-color:#FFF transparent transparent transparent ; 向下箭头
// box-shadow:2px -1px 6px #eaeaea;behavior: url(PIE_uncompressed.htc);border-radius: 3px;
// border-top: 1px solid #dcdcdc;
// border-bottom: 1px solid #dcdcdc;     dashed     solid
// border: 1px solid #f3f3f3;
// box-shadow:inset 0 1px 1px rgba(219, 219, 219, 0.5);   边框内阴影
// background: url(../images/share_icon.png);
// !important
// font-family: $yahei;              雅黑字体
// */
//@include clearfix;                 清除浮动
//@extend %btn001;
 // background:none;border: none;    
 // @include ellipsis(500px);       单行位置超出省略
 // @include prefixer(transition,all 0.8s ease); 添加过渡各浏览器前缀

// @include w-center(1000px);      居中
// @include position(29px,92px);   第一个参数left,第二个top
// @include pos-center(1920px,0);  第一个参数width,第二个top

// @include bottom-desc-tips(42px,18px);  第一个参数width,第二个字体大小font-size
 // @include gradient-vertical(#333 30%, #ccc);  垂直渐变，从上往下
// $yahei:"Microsoft Yahei";
// $SongTi:'宋体';
// $HeiTi:'黑体';


//该网站出现的通用元素
%btn001{width: 80px;height: 38px;line-height: 38px;font-size: 16px;color: #FFF;border-radius: 5px;background: #0098e0;text-align: center;
	cursor: pointer;margin-bottom: 20px;margin-right: 20px;font-family: $yahei;
}
%btn002{width: 107px;height: 42px;line-height: 42px;font-size: 17px;color: #FFF;border-radius: 3px;background: #0098e0;text-align: center;
	cursor: pointer;margin-right: 13px;font-family: $yahei;
}

%btn003{width: 100px;height: 32px;line-height: 32px;font-size: 14px;color: #FFF;border-radius: 3px;background: #0098e0;text-align: center;
	cursor: pointer;


}




%input{position: absolute;border: none;font-size: 12px;color: #651f00;height: 24px;line-height: 24px;border: none;background:none;}

